body{margin-top:20px;
    background:#eee;
    }
    
    .btn {
        margin-bottom: 5px;
    }
    
    .grid {
        position: relative;
        width: 100%;
        background: #fff;
        color: #666666;
        border-radius: 2px;
        margin-bottom: 25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    }
    
    .grid .grid-body {
        padding: 15px 20px 50px 20px;
        font-size: 0.9em;
        line-height: 1.9em;
    }
    
    .search table tr td.rate {
        color: #f39c12;
        line-height: 50px;
    }
    
    .search table tr:hover {
        cursor: pointer;
    }
    
    .search table tr td.image {
        width: 100px;
    }
    
    .search table tr td img {
        width: 100px;
        height: 150px;
    }
    
    .search table tr td.rate {
        color: #f39c12;
        line-height: 50px;
        vertical-align: middle;
    }
    
    .search table tr td.price {
        font-size: 1.5em;
        line-height: 50px;
        vertical-align: middle;
    } 
    .search table tr td.product {
        font-size: 1.4em;
        line-height: 50px;
        vertical-align: middle;
    }
    
    .search #price1,
    .search #price2 {
        display: inline;
        font-weight: 600;
    }

    .bbiv {
        position: relative;
        left: 30px;
        top: 10px;
        padding-bottom: 20px;
    }
.breadcrumbtext {
  color: #2D313C;
}
.pagination {
    position: relative;
    left: 300px;
} 
.community {
  cursor: pointer;
  color: #666666;
  text-decoration-line: none;
}
.writeBtn {
  float: right;
}

/* table */
.board_view {
    width: 98%;
}
th,td {
    padding: 3px;
}
th {
    text-align: center;
}
#title {
    width: 95%;
}
#date {
    width: 15%;
}
#author {
    width: 30%;
}
#content {
    /* height: 500px; */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 50px;
    vertical-align: top;
}
th {
    background-color: #666666;
    color: white;
}
#coment {
    width: 98%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
}
#home_icon {
    width: 23px;
    height: 21px;
  }